<mat-toolbar color="primary">
    <a [routerLink]="['/home']">{{ appName }} </a>
    <span class="fill-remaining-space"> </span>

    <a *ngIf="authSvc.userData | async else showLogin" (click)="logout()" routerLinkActive="active"> <button
            mat-button>Logout</button></a>
    <a *ngIf="authSvc.userData | async" [routerLink]="['/admin']" routerLinkActive="active"> <button
            mat-button>Admin</button> </a>


    <ng-template #showLogin>
        <a [routerLink]="['/login']" routerLinkActive="active"> <button mat-button>Login</button> </a>
    </ng-template>


    <a [routerLink]="['/about']" routerLinkActive="active"> <button mat-button>About</button> </a>

</mat-toolbar>